@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  // GLOBAL STYLEING SHIT
  button,
  input,
  img,
  textarea,a,
  svg {
    transition: all 0.3s ease-in-out;
  }
  h1 {
    font-family: Prata sans-serif;
  }
  input {
    outline: none;
    border: 1px rgb(219, 219, 219) solid;
    padding: 4px;
    border-radius: 4px;
    &:focus {
      border: 1px black solid;
    }
  }
  img{
    width: auto;
    height: auto;
    object-fit: cover;
  }
}
